<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Birthday</title>
</head>

<body>
    <% if(info){ %>
        <% console.log("info inside ejs: ", info) %>
    <% } %>
    <h1>Search for a birthday</h1>
    <section class="find-birthday-name container">
        <h2>Search by Name</h2>
            <form action="/filterByName" method="GET">
                <label for="Name or Nickname">Name or Nickname</label>
                <input type="text" placeholder="Name or Nickname" name="searchTerm" required></input>
                <button id="submit" type="submit" value="submit" class="button">SUBMIT</button>
            </form>
            <form action="/filterByName" method="GET">
            <button id="submit" type="submit" value="submit" class="button">Get All Birthdays</button>
        </form>
            <!-- <form action="/filterNickName" method="GET">
                <input type="text" placeholder="Nick Name" name="nickName">Nickname</input>
                <button id="submit" type="submit" value="submit" class="button">SUBMIT</button>
            </form> -->
            </section>
            <section class="find-birthday-month container">
                <h2>Search by month</h2>
                <form action=" /filterBirthdays" method="GET">
                    <label for="Month">Month</label>
                    <select id="month" name="month" size="1">
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                    <button id="submit" type="submit" value="submit" class="button">SUBMIT</button>
                </form>
            </section>


            <section class="birthday-list">
                <ul class="birthday-info">
                    <% for(let birthday of info){ %>
                        <li>

                            <%= `${birthday.firstName}${birthday.nickName ? ` "${birthday.nickName}" ` : '' } -
                                ${birthday.month} ${birthday.day}`%>

                        </li><span class="del">DELETE</span>
                        <% } %>
                        
                </ul>
            </section>
<h4><a href="/birthdayForm">add birthday</a></h4>

            <script src="js/main.js"></script>
</body>




</html>